
<div class="row" style="padding-left: 20px;">
	<div class="col-sm-4">
		<h2>Today's concerts:</h2>
			<div class="list-group">
				<% @concerts_today.each do |concert| %>
					<a href="/concerts/<%=concert.id%>" class="list-group-item"><%= concert.artist%></a>
				<% end %>
			</div>
	</div>
	<div class="col-sm-4">
		<h2>Upcoming concerts:</h2>
			<div class="list-group">
				<% @concerts_month.each do |concert| %>
					<a href="/concerts/<%=concert.id%>" class="list-group-item"><%= concert.artist%></a>
				<% end %>
			</div>
	</div>
	<div class="col-sm-4">
		<h2>Featured concerts:</h2>
			<div class="list-group">
				<% @concerts_featured.each do |concert| %>
					<a href="/concerts/<%=concert.id%>" class="list-group-item"><%= concert.artist%></a>
				<% end %>
			</div>
	</div>
</div>