<div style="padding-left: 25px;">
	<h3><%= @my_concert.artist %></h3>
	<p><strong>Venue: </strong> <%= @my_concert.venue %></p>
	<p><strong>City: </strong> <%= @my_concert.city %></p>
	<p><strong>Date: </strong> <%= @my_concert.date %></p>
	<p><strong>Price: $</strong> <%= @my_concert.price %></p>
	<p><strong>Description: </strong> <%= @my_concert.description %></p>
	<br>
	<a class="btn btn-success" href="/concerts/<%= @my_concert.id %>/comments" role="button">See Comments</a>
	<a class="btn btn-success" href="/concerts/<%= @my_concert.id %>/comments/new" role="button">Add New Comment</a>
</div>